<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <link rel="icon" href="/img/svg/logo.svg" type="svg">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/content.css">
    <script type="text/javascript" defer src="/js/script.js"></script>
</head>
<body>
    <div class="container">
        <%- include('../partials/header.ejs')%>

        <%- body %>

        <%- include('../partials/footer.ejs')%>
    </div>
</body>
</html>