<% function formatDate(date) {
    const userDateOfBirth = new Date(date);
    const formattedDate = `${userDateOfBirth.getDate()}.${userDateOfBirth.getMonth() + 1}.${userDateOfBirth.getFullYear()}`;
    return formattedDate;
} %>


<main class="profile">
    <div class="profile__about">
        <h2>Данные профиля:</h2>
        <div class="profile__info">
            <div class="profile__item">
                <h3>Email:</h3><p><%= locals.user.Email %></p>
            </div>
            <div class="profile__item">
                <h3>Имя:</h3><p><%= locals.user.FirstName %></p>
            </div>
            <div class="profile__item">
                <h3>Фамилия:</h3><p><%= locals.user.SecondName %></p>
            </div>
            <div class="profile__item">
                <h3>Дата рождения:</h3><p><%= formatDate(locals.user.DateOfBirth) %></p>
            </div>
        </div>
    </div>
    <div class="profile__orders">
        <h2>Данные о заказах:</h2>
        <div class="orders">
            <div class="order-item">
                <div class="rooms-item"><a class="rooms-item__link" href=""></a><img class="rooms-item__img" src="/img/image-1.d22b3a1a.jpg" alt="Фотография номера">
                    <div class="rooms-item__wrapper">
                        <div class="rooms-item__info">
                            <h2 class="rooms-item__num">
                                <span class="rooms-item__num-ico">№</span>
                                <span></span>
                            </h2>                    
                            <p class="rooms-item__price"><b class="rooms-item__price-text"></b></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="order-item">
                <div class="rooms-item"><a class="rooms-item__link" href=""></a><img class="rooms-item__img" src="/img/image-1.d22b3a1a.jpg" alt="Фотография номера">
                    <div class="rooms-item__wrapper">
                        <div class="rooms-item__info">
                            <h2 class="rooms-item__num">
                                <span class="rooms-item__num-ico">№</span>
                                <span></span>
                            </h2>                    
                            <p class="rooms-item__price"><b class="rooms-item__price-text"></b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>